<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="APP_NAME" value="aliyun-iot-lp-demo" />

    <!-- 控制台日志  -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger - %message%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="com.aliyun.iotx.lp.demo" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

</configuration>